
@{
    ViewBag.Title = "AdminPage";
}

<style>
    body {
        background-color: ghostwhite;
    }
</style>


<h1>Admin Edit Page</h1>

<h3>Add new category</h3>
@Html.ActionLink("Add new Category", "AddMovie", "Home", new { area = "" })
<br />
<h3>Edit/Delete Category</h3>
@Html.ActionLink("Edit/Delete Category", "EditCategory", "Home", new { area = "" })
<br />
<h3>Edit/Delete Ad</h3>
@Html.ActionLink("Edit/Delete Ad", "AllMovies", "Home", new { area = "" })
<br />
<h3>View Exchanges</h3>
@Html.ActionLink("View Exchanges", "exchanges", "Home", new { area = "" })