@{
    ViewBag.Title = "Landing Page";
}

<div style="text-align:center;" >
    <img height="150" width="150" class="img" src="~/Images/Recycle.png" alt="Recycle logo" />
    <h1>Reduce, Reuse, Recycle</h1>

</div>

<div class="row">

    <h2>What is FreeCycle?</h2>
    <p>
        FreeCycle is a free exchange network that allows members to donate and aquire reusable items. The objective is to promote sustainability through waste diversion and landfill avoidance.
    </p>

</div>

<div class="row">
    <h2>How to use FreeCycle?</h2>
    <p>
        If you are a student, staff, faculty or a member of Saskatchewan Polytechnic community with
        a saskpolytech.ca email address, login to access all the features.
    </p>

    <p><a class="btn btn-default" href="/Home/HomePage">Go to Home &raquo;</a></p>

</div>